name: Update GreekTube Playlist (Playwright)

on:
  schedule:
    - cron: '0 17 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install playwright beautifulsoup4
          playwright install firefox

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          # ΣΗΜΑΝΤΙΚΟ: Εδώ βάζουμε το νέο όνομα
          git add GrTube.m3u
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update playlist" && git push)
